<ol>
    {{#each posts as |post|}}
    <div class="container text-center">
        <div class="row justify-content-center">
            <li class="col-8">
                <article class="mb-3">
                    <div class="title-body">
                        <h2><span><a href="/post/{{post.id}}" class="post-title">{{post.title}}</a></span></h2>
                        <p>{{post.post_contents}}</p>
                        <p>Written By: {{user.username}} On {{post.created_at}}</p>
                    </div>
                    {{#if comments.length}}
                    <div>
                        <a href="/post/{{post.id}}">View {{comments.length}} Comment(s)</a>
                    </div>
                    {{/if}}
                </article>
            </li>
        </div>
    </div>       
    {{/each}}
</ol>